<?xml version="1.0" encoding="utf-8"?>
<!--指定该Android应用的包名，该包名可用于唯一地标识该应用-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firstapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--上面定义了Android应用的标签图标，主题等-->

        <!--定义Android应用的一个组件：Activity的标签-->
        <activity android:name=".HelloWorld">
            <intent-filter>
                <!--指定该Activity是程序的入口-->
                <action android:name="android.intent.action.MAIN" />
                <!-- 指定加载该应用时运行该activity -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--此目的是添加向上导航-->
        <activity android:name=".DisplayMessageActivity"
            android:parentActivityName=".HelloWorld" >
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HelloWorld" />
        </activity>

    </application>

</manifest>